<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>esse aqui é a prop username {{ username }}</h1>
    <h1>esse aqui é a prop code {{ code }}</h1>
  </body>
</html>